body {
  font-family: none;
}

/* start home section */

.background {
  background-image: url("../images/background1.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 0;
  height: 100%;
}

.noMargin {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.navbar-brand {
  font-family: cursive;
  margin-right: 50%;
  font-size: 35px;
  font-style: oblique;
  color:  rgb(231, 227, 227);
  margin-left: 40px;
}

.active {
  margin-left: 100%;
}

.navbar-nav .nav-item .nav-link {
  color: rgb(231, 227, 227);
}

.welcomeTitle {
  color: black;
  font-size: 40px;
  margin-top: 140px;
}
.title2 {
  font-size: 70px;
  color: rgb(231, 227, 227);
} 

/* end home section */

/*start about section*/

.aboutSection {
  background-color: rgb(245, 240, 235);
}

.aboutTitle {
  font-size: 50px;
  margin-top: 30px;
}

.profileImage {
  border-radius: 50%;
  padding-left: 0px;
  margin-left: 145px;
  margin-top: 40px;
}

.helloTitle {
  font-size: 87px;
  width: 25%;
  margin-top: 75px;
  margin-left: 20px;
}

.name {
  color: rgb(199, 156, 16);
}

.aboutContent {
  float: left;
  width: 19%;
  margin-top: 50px;
  font-size: 28px;
}

.aboutContent2 {
  color: rgb(199, 156, 16);
}

.father {
  display: flex;
}

.aboutPhoto {
  float: right;
}

.quote {
  margin-top: 40px;
}

.qMark1 {
  color: rgb(199, 156, 16);
}

.qMark2 {
  color: rgb(199, 156, 16);
}

.autorInside {
  color:  rgb(199, 156, 16);
}

/*end about section*/

/*start services secton*/

.servicesTitle {
  margin-top: 40px;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

.noMargin {
  margin-right: 0;
  margin-left: 0;
}

.servicesTitle {
  font-weight: bold;
}

.flexslider {
  margin: 75px 0 60px;
}


.slides {
  width: 50%;
  height: 50%;
  margin-left: 23%;
}

.flex-nav-next {
  margin-right: 10px;
}

.flex-nav-next .flex-next {
  margin-right: 55px;
}

.slider1 {
  width: 380px;
  border: 1px solid rgb(208, 211, 208);
  border-radius: 10px;
  border-width: 6px;
  padding: 50px;
  margin: 20px;
  height: 25pc;
  display: flex;
}

.boxDesign {
  border-right: 1px solid rgb(208, 211, 208);
  border-bottom: 1px solid rgb(208, 211, 208);
  width: 215px;
  background-color: rgb(245, 240, 235);
  border-radius: 10px;
  float: left;
}

.boxDesign .iconDesign {
  font-size: 190px;
  border-right: 1px;
  color: rgb(199, 156, 16);
}

.slideTitleDesign {
  float: right;
  margin-right: 107px;
  margin-top: 75px;
  font-size: 30px;
  font-weight: bold;
}

.lineDesign {
  margin-top: 12px;
  width: 105px;
  float: right;
  margin-right: 150px;
  height: 4px;
  color: rgb(39 37 30);
}

.buttonSlide{
  float: left;
  margin-top: 250px;
  margin-left: -170px;
  color: rgb(199, 156, 16);
  border-color: rgb(199, 156, 16);
  width: 91px;
  background-color: rgb(245, 240, 235);
  border-style: dashed;
}

.slideContent1 {
  float: right;
  width: 300px;
  font-size: 23px;
  margin-top: 50px;
  margin-right: 65px;
}

.downIcon {
  margin-top: 321px;
  float: left;
  font-size: 50px;
  margin-left: -143px;
}

.slider2 {
  width: 380px;
  border: 1px solid rgb(208, 211, 208);
  border-radius: 10px;
  border-width: 6px;
  padding: 50px;
  margin: 20px;
  height: 25pc;
  display: flex;
}

.iconResponsive {
  font-size: 190px;
  border-right: 1px;
  color: rgb(199, 156, 16);
  margin-left: 50px;
}


.slider3 {
  width: 380px;
  border: 1px solid rgb(208, 211, 208);
  border-radius: 10px;
  border-width: 6px;
  padding: 50px;
  margin: 20px;
  height: 25pc;
  display: flex;
}

.iconCustomize {
  font-size: 190px;
  border-right: 1px;
  color: rgb(199, 156, 16);
}

.slider4 {
  width: 380px;
  border: 1px solid rgb(208, 211, 208);
  border-radius: 10px;
  border-width: 6px;
  padding: 50px;
  margin: 20px;
  height: 25pc;
  display: flex;
}

.iconManage {
  font-size: 170px;
  border-right: 1px;
  color: rgb(199, 156, 16);
  margin-left: 20px;
}

.flex-direction-nav a:before {
  font-family: 'FontAwesome';
  font-size: 40px;
  display: inline-block;
  content: '\f053';
  color: rgb(199, 156, 16);
  margin-right: 55px;
}
.flex-direction-nav a.flex-next:before {
  content: '\f054';
}

/*end services section*/

/*start freelancing area*/

.backgroundFreelancing {
  background-color: bisque;
}

.freelancingTitle {
  margin-top: 100px;
}

.contactIcons {
  margin-top: 20px;
}

.freelancingButton {
  width: 10 0px;
  margin-left: 46%;
  margin-top: 20px;
  height: 50px;
  background-color: rgb(165, 25, 25);
  font-weight: 10px;
  color: white;  
}

/*end freelancing area*/

/*start contact area*/

.contactTitle {
  margin-top: 60px;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 30px;
}

.popup {
  display: flex;
}

.close {
  float: right;
  font-size: 20px;
  margin-top: 5px;
  margin-right: 5px;
  background: none;
  border: none;
}

.popupBox {
  width: 380px;
  border: 1px solid grey;
  border-radius: 10px;
  border-width: 6px;
  float: right;
  height: 15pc;
  margin-left: 35%;
  position: absolute;
  background-color: grey;
  float: center;
}

.popupTitle {
  float: center;
  font-size: 30px;
  margin-bottom: 30px;
  margin-top: 20px;
  color: white;
}

.contentPopup {
  color: white;
}

.otherContactButton {
  width: 120px;
  margin-top: 30px;
  background-color: rgb(199, 156, 16);
  border-radius: 10px;
  border-color: rgb(199, 156, 16);
  font-weight: bold;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/*end contact area*/

/*start footer area*/

.backgroundFooter {
  background-color: black;
  margin-top: 50px;
}

.copyright {
  margin-top: 50px;
  color: #ccc;
}

.email {
  color: #ccc;
}

.footerIcons {
  margin-top: 10px;
  margin-bottom: 70px;
}

/*end footer area*/